<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpio</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="stilos.css") }}">
</head>
<body>
    
    <main>
        <header class="cabeza">
            <img src="https://iman-mohammad.github.io/huddle-landing-page.github.io/resourses/images/logo.svg" alt="">
            <button>Try It Free</button>
        </header>
        <div class="cuerpo">
            <div style="padding: 3rem;">
                <h1>
                    Build The Community Your Fans Will Love
                </h1>
                <p>
                    Huddle re-imagines the way we build communities. You have a voice, but dose your audience. Create connections with your users as you engage in genuine discussion.
                </p>
                <form action="/users">
                    <button>Check users</button>
                </form>
            </div>
            <img src="https://iman-mohammad.github.io/huddle-landing-page.github.io/resourses/images/illustration-mockups.svg" alt="">
        </div>
    </main>

    <div class="contArticulos">
        <div class="togheter">
            <article class="articulo">
                <h2>Grow Together</h2>
                <p>Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversation you miss out on with a feedback form.</p>
            </article>
            <img src="https://iman-mohammad.github.io/huddle-landing-page.github.io/resourses/images/illustration-grow-together.svg" alt="">
        </div>
        <div class="togheter">
            <article class="articulo">
                <h2>Flowing conversations</h2>
                <p>You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.</p>
            </article>
            <img src="https://iman-mohammad.github.io/huddle-landing-page.github.io/resourses/images/illustration-flowing-conversation.svg" alt="">
        </div>
        <div class="togheter ultimo">
            <article class="articulo">
                <h2>Your Users</h2>
                <p>It take no time at all integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately</p>
            </article>
            <img src="https://iman-mohammad.github.io/huddle-landing-page.github.io/resourses/images/illustration-your-users.svg" alt="">
        </div>
    </div>

</body>
</html>